body {
	margin: 0;
	background-color: #e7f6ff;
}
* {
	font-family: 'Inter', system-ui;
}

.wrapper {
	background: #ffffff;
	box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04);
	border-radius: 20px;
	max-width: 1080px;
	margin: 50px auto;
}

.cart {
	stroke: red;
}

.heart {
	fill: red;
}

.user {
	fill: red;
}

header {
	border-bottom: 1px solid #eaeaea;
}

.headerInfo {
	h3,
	p {
		margin: 0;
	}
}

.content {
	h1 {
		margin: 0;
	}
}

.card {
	border: 1px solid #f3f3f3;
	padding: 20px;
	width: 231.25px;
	border-radius: 40px;
	h5 {
		font-weight: 400;
		font-size: 14px;
	}
	img {
		margin: 0 auto;
	}

	span {
		font-size: 13px;
		text-transform: uppercase;
		opacity: 0.5;
	}
	b {
		font-size: 13px;
	}
	transition: cubic-bezier(0.075, 0.82, 0.165, 1);
	transition-duration: 250ms;
	&:hover {
		box-shadow: 0px 14px 35px rgba(0, 0, 0, 0.05);
		transform: translateY(-15px);
		transition: cubic-bezier(0.075, 0.82, 0.165, 1);
		transition-duration: 250ms;
	}
}

.card-list {
	display: flex;

	gap: 25px;
	flex-wrap: wrap;
}

.button {
	background: #ffffff;
	border: 1px solid #f2f2f2;
	fill: #ececec;
	border-radius: 8px;
	height: 32px;
	width: 32px;
	cursor: pointer;
	&__heart {
		position: absolute;
	}

	&__heart--active {
		background-color: #fef0f0;
		fill: #ff8585;
	}

	&__plus--checked {
		background-color: #fef0f0;
		fill: #ff8585;

		background: linear-gradient(180deg, #89f09c 0%, #3cc755 100%);
	}

	&__remove {
		opacity: 0.5;
		transition: cubic-bezier(0.075, 0.82, 0.165, 1);
		transition-duration: 250ms;
		.remove {
			transform: rotate(45deg);
		}
	}

	&__remove:hover {
		transition: cubic-bezier(0.075, 0.82, 0.165, 1);
		transition-duration: 250ms;
		opacity: 1;
	}
}

.search-blok {
	border: 1px solid #f3f3f3;
	border-radius: 10px;
	padding: 0 15px;
	input {
		border: 0;
		padding: 16px;
		font-size: 16px;
		width: 200px;
	}
}

.overlay {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;

	background-color: rgba(0, 0, 0, 0.1);
	z-index: 9;
}

.drawer {
	position: absolute;
	width: 420px;
	height: 100%;
	right: 0;
	top: 0px;
	padding: 30px;
	gap: 20;

	background: #ffffff;
	box-shadow: -10px 4px 24px rgba(0, 0, 0, 0.1);

	h2 {
		margin: 0;
	}
}

.items {
	display: flex;
	flex: 1;
	flex-direction: column;
	gap: 20px;
}

.cartItem {
	border: 1px solid #f3f3f3;
	border-radius: 20px;
	overflow: hidden;
	padding: 20px;
	p {
		font-size: 16px;
	}

	b {
		font-size: 14px;
	}

	&__text {
		width: 200px;
	}
}

.cartTotalBlock {
	justify-self: flex-end;
	li {
		display: flex;
		align-items: flex-end;
		margin-bottom: 20px;
	}
	div {
		flex: 1;
		height: 1px;
		border-bottom: 1px dashed #dfdfdf;
		position: relative;
		top: -4px;
		margin: 0 7px;
	}
	button {
		width: 100%;
		height: 55px;
		background: #9dd558;
		border-radius: 18px;
		border: 0px;
		color: #ffffff;
		font-size: 16px;
		font-weight: 500;
	}
}
